.header {
  &__inner {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }
  &__logo > img {
    display: block;
  }
  &__menu{
    flex: 1 1 auto;
    margin-left: 135px;
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      list-style-type: none;
      font-weight: 500;
    }
    &-link {
      display: block;
      padding: 0 20px;
      line-height: 35px;
      color: #222;
      text-decoration: none;
      transition: all linear 0.3s;
      &:hover {
        background-color: #C9C9C9;
      }
    }
    &-icon {
      display: none;

    }
  }
  &__button{
    margin-right: 70px;
    width: 120px;
    height: 35px;

  }
  &__social-media {
    &-wrapper {
      display: flex;
    }
    &-item {
      list-style-type: none;
    }
    &-item:not(:last-child) {
      margin-right: 20px;
    }
    &-link {
      color: #222222;
      font-size: 16px;
    }
  }


}

.link__wrapper {
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3c2d;
  border: 1px solid #ff3c2d;
  border-radius: 3px;
  color: white;
  transition: background-color linear 0.3s;
  &__link {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: color linear 0.3s;
  }
  &:hover:not(.slider-capture__button) {
    background-color: #E5E5E5;
    .button__link {
      color: #ff3c2d;
    }
  }
}

._lock {
  overflow: hidden;
}