.headshots-sessions {
  height: 401px;
  background: url("../images/background/cameras_bg.jpg") center (center/cover) no-repeat;
  &__title {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
  }
  &__button {
    width: 215px;
    height: 45px;
    font-size: 18px;
  }
}