@media (max-width: 1600px) {
  .container {
    max-width: 1310px;
    padding: 0 15px;
  }
  .header {
    &__menu {
      margin-left: 100px;
    }
  }
  .swiper {
    height: 645px;
    width: 590px;
  }
  .services {
    &__slider {
      &-inner {
        grid-template-rows: repeat(2, 310px);
        gap: 25px;
      }

    }
    &__arrow {
      width: 285px;
    }
  }
  .slider {
    &-capture {
      top: 240px;
    }
  }
  .big-example {
    height: 705px;
  }
  .importance {
    &-explaining {
      &__text {
        max-width: 540px;
        font-size: 16px;
      }
    }
    &-tips {
      &__inner {
        grid-template-columns: 320px 280px;
        column-gap: 50px;
      }
      &__text {
        &--first-col {
          padding-left: 90px;
        }
        &--second-col {
          padding-left: 60px;
        }
      }
    }
  }
  .headshots-importance{
    &__services {
      margin-top: 70px;
    }

    &__arrow {
      height: 200px;
      left: 0;
    }
  }
  .main__clients {
    padding-bottom: 150px;
  }
  .review {
    &__item {
      max-width: 405px;
    }
    &__text {
      font-size: 16px;
    }
  }
  .footer {
    &__item--center-column {
      grid-template-columns: 320px 425px;
    }
    &__contacts {
      &-inner {
        font-size: 26px;
      }
      &:after {
        width: 295px;
      }
    }
  }
}

@media (max-width: 1366px) {
  .header {
    &__menu {
      margin-left: 50px;
      &-link {
        padding: 0 13px;
      }
    }
    &__button {
      margin-right: 50px;
    }
  }

}

@media (max-width: 1365px) {
  .container {
    max-width: 1024px;
    padding: 0 25px;
  }
  .header {
    &__inner {
      padding: 0 20px;
    }
    &__menu {
      margin-left: 20px;
      &-link {
        padding: 0 10px;
      }
    }
    &__button {
      margin-right: 30px;
    }
  }
  .searching-studio__inner {
    width: 500px;
    left: 25px;
  }
  .swiper {
    height: 490px;
    width: 450px;
  }
  .services {
    &__slider {
      &-inner {
        grid-template-rows: repeat(2, 235px);
        gap: 20px;

      }
      &-arrows-wrapper {
        margin-top: 14px;
      }
    }
    &__arrow {
      width: 215px;
    }
  }
  .slider {
    &-capture {
      top: 170px;
      left: 15px;
      font-size: 16px;
      &__button {
        margin-bottom: 7px;
      }
      &__arrow {
        margin-left: 10px;
      }
    }
  }
  .big-example {
    height: 545px;
  }
  .headshots-importance {
    &__wrapper {
      position: relative;
    }
    &__arrow {
      display: none;
    }
    &__services {
      top: 280px;
      left: 25px;
      position: absolute;
    }
  }
  .importance {
    &-tips {
      &__inner {
        grid-template-columns: 325px;
      }
      &__item {
        &:nth-of-type(2) {
          grid-row: 2/3;
        }
      }
    }
  }
  .headshots-services {
    margin: 0;
    max-width: 540px;
    padding: 35px 30px 35px 40px ;
    &__title {
      margin-bottom: 20px;
    }
    &__paragraph {
      line-height: 26px;
      &--covid-update {
        margin-top: 15px;
      }
    }
  }
  .review {
    &__item {
      max-width: 300px;
    }
    &__text {
      padding-left: 20px;
    }
  }
  .blog {
    &__inner {
      max-width: 960px;
    }
    &__item {
      max-width: 310px;
      &-title {
        font-size: 20px;
        line-height: 24px;
      }
      &-description {
        padding: 30px 15px 30px 20px;

      }
      &-info {
        left: 20px;
        right: 15px;
      }
    }


  }
  .footer {
    &__item {
      &--center-column {
        grid-template-columns: 135px auto;
      }
    }
    &__resources {
      &-icon {
        margin-right: 3px;
      }
    }
    &__contacts {
      grid-column: 1/3;
      &-inner {
        font-size: 22px;
      }
      &:after {
        width: 250px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 768px;
    padding: 0 25px;
  }

  .headshots {
    height: 450px;
    &__title {
      font-size: 50px;
    }
  }
  .session-list__item {
    padding-left: 50px;
  }
  .searching-studio {
    height: 500px;
    &__inner {
      height: 200px;
      max-width: 390px;
      padding: 20px 30px 25px;
    }
    &__title {
      font-size: 40px;
      margin-bottom: 20px;
    }
    &__form {
      font-size: 16px;
    }
    &__input {
      width: 185px;
    }
    &__button {
      width: 140px;
    }
  }
  .importance {
    &-explaining {
      &__title {
        text-align: center;
      }
      &__text {
        max-width: 550px;
        text-align: justify;
      }
    }
    &-tips {
      &__title {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 25px;
      }
      &__inner {
        grid-template-columns: 350px 300px;
        grid-template-rows: repeat(3, 1fr);
      }
      &__item {
        &:nth-of-type(2) {
          grid-row: 2/4;
        }
      }
    }
  }
  .headshots-importance {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__services {
      max-width: 718px;
      position: static;
      margin: 80px auto 0;
    }
  }
  .main__clients {
    padding-bottom: 110px;
  }
  .reviews {
    &-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
  .review {
    &__item {
      max-width: 490px;
      &:not(:last-child) {
        margin-bottom: 60px ;
      }
    }
    &__inner {
      margin-top: 15px;
    }
    &__text {
      margin-top: 15px;
    }
  }
  .headshots-sessions {
    height: 350px;
    &__inner {
      padding-top: 100px;
      flex-direction: column;
    }
    &__title {
      font-size: 40px;
    }
    &__button {
      margin-top: 40px;
    }
  }
  .blog {
    padding: 60px 0;
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__subtitle {
      margin-bottom: 40px;
    }
    &__item {
      max-width: 386px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  .footer {
    &__inner {
      flex-direction: column;
      position: relative;
      padding-bottom: 100px;
    }
    &__item {
      &--left-column {
        flex-direction: row;
        align-items: center;
      }
      &--center-column {
        margin-top: 30px;
        justify-content: space-between;
        row-gap: 30px;
      }
      &--right-column {
        position: absolute;
        right: 0;
        bottom: 107px;
      }
    }
  }
}

@media (max-width: 767px) {
  .main__sessions-info {
    margin-top: 50px;
  }
  .sessions-info {
    flex-wrap: wrap;
    &__item {
      width: 100%;
    }
  }
  .searching-studio {
    height: 700px;
    &__inner {
      position: static;
    }
    &__map-wrapper {
      position: static;
      height: 500px;
    }
  }
  .importance {
    &-tips {
      &__inner {
        grid-template-columns: 350px;
        grid-gap: 30px;
      }
      &__item {
        &:nth-of-type(2) {
          grid-row: 2/3;
        }
        &:after {
          top: calc(100% + 15px);
        }
      }
    }
  }
  .headshots-services {
    padding: 20px;
  }
  .headshots-sessions {
    height: 300px;
    &__inner {
      padding-top: 65px;
    }
    &__title {
      font-size: 30px;
    }
  }
  .footer {
    &__contacts {
      &-inner {
        line-height: 35px;
        font-size: 20px;
        margin-top: -5px;
      }
      &:after {
        width: 230px;
      }
    }
    &__item {
      &--right-column {
        bottom: 70px;
      }
    }
  }
  .copyrights {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    &__policy {
      position: static;
    }
  }
}

@media (max-width: 479px) {
  .headshots {
    height: 400px;
    padding-top: 50px;
    &__title {
      font-size: 40px;
    }
  }
  .sessions-info {
    &__title {
      font-size: 26px;
    }
  }
  .session-list__item {
    padding-left: 35px;
  }
  .searching-studio {
    &__inner {
      padding: 20px 0 25px;
      width: auto;
    }
    &__title {
      font-size: 35px;
    }
  }
  .main__headshots-importance {
    padding: 75px 0;
  }
  .importance {
    &-explaining {
      &__title {
        font-size: 40px ;
      }

    }
    &-tips {
      &__title {
        font-size: 40px;
        &-num {
          font-size: 50px;
        }
      }
      &__inner {
        grid-template-columns: 295px;
      }
      &__text {
        font-size: 14px;
      }
    }
  }
  .headshots-importance__services {
    margin: 80px -25px 0 -25px;
    width: calc(100% + 50px);
  }
  .main__clients {
    padding: 75px 0;
  }
  .clients {
    &__title {
      font-size: 35px;
    }
    &__subtitle {
      font-size: 16px;
      margin-top: -10px;
    }
  }
  .review__text {
    font-size: 14px;
    line-height: 28px;
  }
  .headshots-sessions {
    &__inner {
      padding-top: 50px;
    }
    &__title {
      font-size: 27px;
    }
  }
  .blog {
    padding: 60px 15px;
  }
  .footer {
    &__item {
      &--left-column {
        flex-direction: column;
      }
      &--center-column {
        grid-template-columns: 270px;
      }
      &--right-column {
        margin-top: 25px;
        position: static;
        align-self: center;
      }
    }
    &__list {
      &--right-column {
        align-items: center;
      }
    }
    &__studio-address {
      align-self: center;
      margin-top: 30px;
    }
    &__address-text {
      margin-top: -15px;
    }
    &__links {
      text-align: center;
    }
    &__resources {
      grid-row: 2/3;
    }
    &__title {
      text-align: center;
    }
  }
  .dropdown-list {
    opacity: 0.1;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s linear;
  }
  .dropdown-list.show {
    opacity: 1;
    height: 100%;
  }
}