.swiper {
  width: 730px;
  height: 800px;
}

.main__services {
  padding: 120px 0 150px;
}

.services {
  &__title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  &__menu {
    &-list {
      display: flex;
      justify-content: center;
    }
    &-item {
      position: relative;
      list-style-type: none;
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        background-color: #ff3c2d;
        transition: width 0.3s linear;
      }
      &:hover, .services__menu-item--default {
        &:after {
          width: 50%;
        }
      }
    }
    &-link {
      padding: 0 10px;
      display: block;
      font-size: 18px;
      color: #ababab;
      text-decoration: none;
      &:hover, .services__menu-link--default {
        color: #222222;
        transition: color 0.3s linear;
      }
    }
  }
  &__examples-wrapper {
    margin-top: 20px;
    display: flex;
  }
  &__slider {

    &-wrapper {
    }
    &-inner {
      display: grid;
      grid-template-columns: repeat(2, 350px);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
    }
    &-item {
      position: relative;
      &:hover {
        .services__slider-capture {
          opacity: 1;
          transition: opacity 0.3s linear;
        }
      }
    }
    &-capture {
      top: 310px;
      left: 25px;
      position: absolute;
      opacity: 0;
    }
    &-img {
      display: block;
    }
    &-arrows-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 19px;
    }
  }
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 41px;
    background-color: #f6f6f6;
    transition: background-color linear 0.3s ;
    &-img {
      display: block;
    }
    &:hover {
      background-color: #C9C9C9;
    }
  }
}



.slider-capture {
  color: white;
  font-size: 18px;
  &__button {
    width: 90px;
    height: 25px;
    font-size: 12px;
    margin-bottom: 10px;

  }
  &__text {
    display: flex;
  }
  &__arrow {
    margin-left: 15px;
  }
}

.big-example {
  margin-left: 30px;
  height: 860px;
  width: 800px;
  &__img {
    display: block;
    width: 100%;
    height: 100%;

  }
}

.animation {
  animation-name: animation;
  animation-duration: 1.5s;
}

@keyframes animation  {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}