* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

.container {
  max-width: 1560px;
  margin: 0 auto;
}

.header__inner {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.header__menu {
  flex: 1 1 auto;
  margin-left: 135px;
}
.header__menu-list {
  display: flex;
  align-items: center;
}
.header__menu-item {
  list-style-type: none;
  font-weight: 500;
}
.header__menu-link {
  display: block;
  padding: 0 20px;
  line-height: 35px;
  color: #222;
  text-decoration: none;
  transition: all linear 0.3s;
}
.header__menu-link:hover {
  background-color: #C9C9C9;
}
.header__button {
  margin-right: 70px;
  width: 120px;
  height: 35px;
}
.header__social-media-wrapper {
  display: flex;
}
.header__social-media-item {
  list-style-type: none;
  font-size: 16px;
}
.header__social-media-item:not(:last-child) {
  margin-right: 20px;
}
.header__social-media-link {
  color: #222222;
}

.link__wrapper {
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3c2d;
  border: 1px solid #ff3c2d;
  border-radius: 3px;
  color: white;
  transition: background-color linear 0.3s;
}
.button__link {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  transition: color linear 0.3s;
}
.button:hover:not(.slider-capture__button) {
  background-color: #E5E5E5;
}
.button:hover:not(.slider-capture__button) .button__link {
  color: #ff3c2d;
}

.main__sessions-info {
  margin-top: 100px;
}

.sessions-info {
  display: flex;
}
.sessions-info__item {
  width: 50%;
}
.sessions-info__item--dark {
  color: #fff;
  background-color: #222;
  font-weight: 400;
}
.sessions-info__item--light {
  background-color: #f6f6f6;
  color: #222;
  font-weight: 500;
}
.sessions-info__img {
  margin: 0 auto;
  display: block;
}
.sessions-info__inner {
  text-align: center;
}
.sessions-info__icon {
  margin: 80px auto 20px;
}
.sessions-info__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}
.sessions-info__list {
  margin-top: 82px;
}
.sessions-info__button {
  width: 215px;
  height: 45px;
  font-size: 16px;
  margin: 0 auto 100px;
}

.session-list {
  margin: 80px 0;
}
.session-list__item {
  position: relative;
  margin: 0 auto;
  max-width: 425px;
  display: flex;
  align-items: center;
  text-align: left;
}
.session-list__item:not(:last-child) {
  margin-bottom: 38px;
}
.session-list__number {
  line-height: 60px;
  font-size: 80px;
  font-weight: bold;
}
.session-list__number--light {
  color: rgba(254, 254, 254, 0.2);
}
.session-list__number--dark {
  color: rgba(34, 34, 34, 0.2);
}
.session-list__text {
  font-size: 18px;
  padding-left: 40px;
}
.session-list__text--small-padding {
  padding-left: 55px;
}

.main__headshots {
  padding-top: 70px;
}

.headshots {
  background: url("images/background/photographer_bg.jpg") center center/cover no-repeat;
  height: 510px;
  color: white;
}
.headshots__title {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 38px;
}
.headshots__subtitle {
  font-size: 21px;
  margin-bottom: 46px;
}
.headshots__button {
  width: 215px;
  height: 45px;
  font-size: 18px;
}

.container-studio {
  position: relative;
}

.searching-studio {
  height: 560px;
  position: relative;
}
.searching-studio__map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.searching-studio__map {
  height: 100%;
}
.searching-studio__inner {
  width: 44%;
  height: 250px;
  padding: 40px 50px 45px;
  position: absolute;
  top: 160px;
  left: 15px;
  z-index: 2;
  background-color: white;
}
.searching-studio__title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
}
.searching-studio__form {
  font-size: 18px;
}
.searching-studio__inputs-wrapper {
  display: flex;
  margin-top: 25px;
}
.searching-studio__input {
  width: 205px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: #f6f6f6;
}
.searching-studio__button {
  font-size: 18px;
  width: 155px;
  height: 45px;
}

.swiper {
  max-width: 730px;
  height: 800px;
}

.main__services {
  padding: 120px 0 150px;
}

.services__title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 40px;
}
.services__menu-list {
  display: flex;
  justify-content: center;
}
.services__menu-item {
  position: relative;
  list-style-type: none;
}
.services__menu-item:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #ff3c2d;
  transition: width 0.3s linear;
}
.services__menu-item:hover:after, .services__menu-item .services__menu-item--default:after {
  width: 50%;
}
.services__menu-link {
  padding: 0 10px;
  display: block;
  font-size: 18px;
  color: #ababab;
  text-decoration: none;
}
.services__menu-link:hover, .services__menu-link .services__menu-link--default {
  color: #222222;
  transition: color 0.3s linear;
}
.services__examples-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.services__slider-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 385px);
  gap: 30px;
}
.services__slider-item {
  position: relative;
}
.services__slider-item:hover .services__slider-capture {
  opacity: 1;
  transition: opacity 0.3s linear;
}
.services__slider-capture {
  top: 310px;
  left: 25px;
  position: absolute;
  opacity: 0;
}
.services__slider-img {
  display: block;
  width: 100%;
  height: 100%;
}
.services__slider-arrows-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}
.services__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 41px;
  background-color: #f6f6f6;
  transition: background-color linear 0.3s;
}
.services__arrow-img {
  display: block;
}
.services__arrow:hover {
  background-color: #C9C9C9;
}

.slider-capture {
  color: white;
  font-size: 18px;
}
.slider-capture__button {
  width: 90px;
  height: 25px;
  font-size: 12px;
  margin-bottom: 10px;
}
.slider-capture__text {
  display: flex;
}
.slider-capture__arrow {
  margin-left: 15px;
}

.big-example {
  height: 860px;
}
.big-example__img {
  display: block;
  height: 100%;
}

.animation {
  animation-name: animation;
  animation-duration: 1.5s;
}

@keyframes animation {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}
.headshots-sessions {
  height: 401px;
  background: url("images/background/cameras_bg.jpg") center center/cover no-repeat;
}
.headshots-sessions__title {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
}
.headshots-sessions__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
}
.headshots-sessions__button {
  width: 215px;
  height: 45px;
  font-size: 18px;
}

.main__headshots-importance {
  padding: 74px 0 100px;
  background-color: #f6f6f6;
}

.headshots-importance__wrapper {
  position: relative;
}
.headshots-importance__arrow {
  position: absolute;
  top: 326px;
  left: 10px;
}
.headshots-importance__inner {
  display: flex;
  justify-content: space-between;
}

.importance-explaining__title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
}
.importance-explaining__text {
  max-width: 620px;
  font-size: 18px;
  line-height: 1.78;
}
.importance-tips__title {
  margin-bottom: 70px;
  font-family: "Tahu!", sans-serif;
  font-size: 60px;
}
.importance-tips__title-num {
  font-family: "Tahu!", sans-serif;
  font-size: 75px;
}
.importance-tips__inner {
  display: grid;
  grid-template-columns: 350px 300px;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 90px;
  row-gap: 70px;
  align-items: start;
}
.importance-tips__item {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 24px;
}
.importance-tips__item:nth-of-type(2) {
  grid-row: 2/4;
}
.importance-tips__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #222;
  opacity: 0.2;
  position: absolute;
  top: calc(100% + 20px);
  margin-bottom: 20px;
}
.importance-tips__icon {
  position: absolute;
}
.importance-tips__text {
  line-height: 1.5;
}
.importance-tips__text--first-col {
  padding-left: 110px;
}
.importance-tips__text--second-col {
  padding-left: 80px;
}

.headshots-importance__services {
  margin: 22px 0 0 113px;
}

.headshots-services {
  color: white;
  max-width: 1070px;
  padding: 55px 82px 61px 79px;
  background-color: #222222;
}
.headshots-services__title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}
.headshots-services__paragraph {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}
.headshots-services__paragraph--covid-update {
  margin-top: 40px;
}

.main__clients {
  padding: 99px 0 210px;
  background-color: #222;
}

.clients {
  color: white;
  text-align: center;
}
.clients__title {
  font-size: 50px;
  line-height: 55px;
  font-weight: 600;
  margin-bottom: 10px;
}
.clients__subtitle {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 55px;
}

.reviews-wrapper {
  display: flex;
  justify-content: space-between;
}

.review__item {
  max-width: 490px;
}
.review__img {
  display: block;
  max-width: 100%;
}
.review__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.review__author {
  font-size: 16px;
  line-height: 28px;
}
.review__mark {
  display: flex;
}
.review__star {
  display: block;
}
.review__star:not(:last-child) {
  margin-right: 3px;
}
.review__quotes {
  font-family: "Catamaran", sans-serif;
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 220px;
  color: rgba(255, 254, 254, 0.1);
}
.review__text {
  margin-top: 35px;
  padding-left: 45px;
  text-align: left;
  position: relative;
  font-size: 18px;
  line-height: 32px;
}

.blog {
  padding: 90px 0 120px;
  text-align: center;
}
.blog__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
}
.blog__subtitle {
  margin-bottom: 65px;
  font-size: 18px;
  line-height: 32px;
}
.blog__inner {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
.blog__item {
  max-width: 386px;
}
.blog__item-img {
  display: block;
  max-width: 100%;
}
.blog__item-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
  text-align: left;
}
.blog__item-description {
  position: relative;
  height: 200px;
  background-color: #f6f6f6;
  padding: 30px 21px 30px 25px;
  max-width: 100%;
}
.blog__item-info {
  position: absolute;
  left: 30px;
  right: 21px;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__item-comments {
  position: relative;
  font-size: 16px;
}
.blog__message-icon {
  display: block;
  position: absolute;
}
.blog__comments-quantity {
  padding-left: 30px;
  color: #ff3c2d;
}
.blog__date {
  color: #ababab;
}
.blog__button {
  margin: 60px auto 0;
  width: 215px;
  height: 45px;
  font-size: 18px;
}

.footer {
  color: white;
  background-color: #222;
}
.footer__inner {
  padding-top: 90px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.footer__item--left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}
.footer__item--center-column {
  display: grid;
  grid-template-columns: 340px auto;
  row-gap: 55px;
}
.footer__item--right-column {
  align-self: flex-end;
}
.footer__list--right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__list-item {
  list-style-type: none;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 15px;
}
.footer__list-item--right-column {
  position: relative;
}
.footer__list-item--right-column:not(:last-child):after {
  position: absolute;
  bottom: -8px;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #656565;
  opacity: 0.5;
}
.footer__list-link {
  color: white;
  text-decoration: none;
}
.footer__title {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 32px;
  color: #626262;
}
.footer__title--address {
  margin-bottom: 27px;
}
.footer__studio-address {
  align-self: flex-end;
}
.footer__address-text {
  position: relative;
  padding-left: 30px;
  line-height: 32px;
}
.footer__location-icon {
  left: 0;
  display: block;
  position: absolute;
}
.footer__contacts {
  position: relative;
}
.footer__contacts-inner {
  font-size: 30px;
  line-height: 52px;
}
.footer__contacts-link {
  text-decoration: none;
  color: white;
}
.footer__contacts:after {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  bottom: 0;
  width: 100%;
  background-color: #ff3c2d;
}
.footer__copyrights {
  position: relative;
  padding: 25px 0;
}
.footer__hr {
  border-color: white;
  opacity: 0.1;
}
.footer__resources-icon {
  display: inline-block;
  margin-right: 7px;
}

.copyrights {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.2);
}
.copyrights__policy {
  position: absolute;
  top: 25px;
  right: 0;
}
.copyrights__policy-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1600px) {
  .container {
    max-width: 1310px;
    padding: 0 15px;
  }
  .header__menu {
    margin-left: 100px;
  }
  .swiper {
    height: 645px;
    width: 590px;
  }
  .services__slider-inner {
    grid-template-rows: repeat(2, 310px);
    gap: 25px;
  }
  .services__arrow {
    width: 285px;
  }
  .slider-capture {
    top: 240px;
  }
  .big-example {
    height: 705px;
  }
  .importance-explaining__text {
    max-width: 540px;
    font-size: 16px;
  }
  .importance-tips__inner {
    grid-template-columns: 320px 280px;
    column-gap: 50px;
  }
  .importance-tips__text--first-col {
    padding-left: 90px;
  }
  .importance-tips__text--second-col {
    padding-left: 60px;
  }
  .headshots-importance__services {
    margin-top: 70px;
  }
  .headshots-importance__arrow {
    height: 200px;
    left: 0;
  }
  .main__clients {
    padding-bottom: 150px;
  }
  .review__item {
    max-width: 405px;
  }
  .review__text {
    font-size: 16px;
  }
  .footer__item--center-column {
    grid-template-columns: 320px 425px;
  }
  .footer__contacts-inner {
    font-size: 26px;
  }
  .footer__contacts:after {
    width: 295px;
  }
}
@media (max-width: 1366px) {
  .header__menu {
    margin-left: 50px;
  }
  .header__menu-link {
    padding: 0 13px;
  }
  .header__button {
    margin-right: 50px;
  }
}
@media (max-width: 1365px) {
  .container {
    max-width: 1024px;
    padding: 0 25px;
  }
  .header__inner {
    padding: 0 20px;
  }
  .header__menu {
    margin-left: 20px;
  }
  .header__menu-link {
    padding: 0 10px;
  }
  .header__button {
    margin-right: 30px;
  }
  .searching-studio__inner {
    width: 500px;
    left: 25px;
  }
  .swiper {
    height: 490px;
    width: 450px;
  }
  .services__slider-inner {
    grid-template-rows: repeat(2, 235px);
    gap: 20px;
  }
  .services__slider-arrows-wrapper {
    margin-top: 14px;
  }
  .services__arrow {
    width: 215px;
  }
  .slider-capture {
    top: 170px;
    left: 15px;
    font-size: 16px;
  }
  .slider-capture__button {
    margin-bottom: 7px;
  }
  .slider-capture__arrow {
    margin-left: 10px;
  }
  .big-example {
    height: 545px;
  }
  .headshots-importance__wrapper {
    position: relative;
  }
  .headshots-importance__arrow {
    display: none;
  }
  .headshots-importance__services {
    top: 280px;
    left: 25px;
    position: absolute;
  }
  .importance-tips__inner {
    grid-template-columns: 325px;
  }
  .importance-tips__item:nth-of-type(2) {
    grid-row: 2/3;
  }
  .headshots-services {
    margin: 0;
    max-width: 540px;
    padding: 35px 30px 35px 40px;
  }
  .headshots-services__title {
    margin-bottom: 20px;
  }
  .headshots-services__paragraph {
    line-height: 26px;
  }
  .headshots-services__paragraph--covid-update {
    margin-top: 15px;
  }
  .review__item {
    max-width: 300px;
  }
  .review__text {
    padding-left: 20px;
  }
  .blog__inner {
    max-width: 960px;
  }
  .blog__item {
    max-width: 310px;
  }
  .blog__item-title {
    font-size: 20px;
    line-height: 24px;
  }
  .blog__item-description {
    padding: 30px 15px 30px 20px;
  }
  .blog__item-info {
    left: 20px;
    right: 15px;
  }
  .footer__item--center-column {
    grid-template-columns: 135px auto;
  }
  .footer__resources-icon {
    margin-right: 3px;
  }
  .footer__contacts {
    grid-column: 1/3;
  }
  .footer__contacts-inner {
    font-size: 22px;
  }
  .footer__contacts:after {
    width: 250px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 768px;
    padding: 0 25px;
  }
  .headshots {
    height: 450px;
  }
  .headshots__title {
    font-size: 50px;
  }
  .session-list__item {
    padding-left: 50px;
  }
  .searching-studio {
    height: 500px;
  }
  .searching-studio__inner {
    height: 200px;
    max-width: 390px;
    padding: 20px 30px 25px;
  }
  .searching-studio__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .searching-studio__form {
    font-size: 16px;
  }
  .searching-studio__input {
    width: 185px;
  }
  .searching-studio__button {
    width: 140px;
  }
  .importance-explaining__title {
    text-align: center;
  }
  .importance-explaining__text {
    max-width: 550px;
    text-align: justify;
  }
  .importance-tips__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .importance-tips__inner {
    grid-template-columns: 350px 300px;
    grid-template-rows: repeat(3, 1fr);
  }
  .importance-tips__item:nth-of-type(2) {
    grid-row: 2/4;
  }
  .headshots-importance__inner {
    flex-direction: column;
    align-items: center;
  }
  .headshots-importance__services {
    max-width: 718px;
    position: static;
    margin: 80px auto 0;
  }
  .main__clients {
    padding-bottom: 110px;
  }
  .reviews-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .review__item {
    max-width: 490px;
  }
  .review__item:not(:last-child) {
    margin-bottom: 60px;
  }
  .review__inner {
    margin-top: 15px;
  }
  .review__text {
    margin-top: 15px;
  }
  .headshots-sessions {
    height: 350px;
  }
  .headshots-sessions__inner {
    padding-top: 100px;
    flex-direction: column;
  }
  .headshots-sessions__title {
    font-size: 40px;
  }
  .headshots-sessions__button {
    margin-top: 40px;
  }
  .blog {
    padding: 60px 0;
  }
  .blog__inner {
    flex-direction: column;
    align-items: center;
  }
  .blog__subtitle {
    margin-bottom: 40px;
  }
  .blog__item {
    max-width: 386px;
  }
  .blog__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .footer__inner {
    flex-direction: column;
    position: relative;
    padding-bottom: 100px;
  }
  .footer__item--left-column {
    flex-direction: row;
    align-items: center;
  }
  .footer__item--center-column {
    margin-top: 30px;
    justify-content: space-between;
    row-gap: 30px;
  }
  .footer__item--right-column {
    position: absolute;
    right: 0;
    bottom: 107px;
  }
}
@media (max-width: 767px) {
  .main__sessions-info {
    margin-top: 50px;
  }
  .sessions-info {
    flex-wrap: wrap;
  }
  .sessions-info__item {
    width: 100%;
  }
  .searching-studio {
    height: 700px;
  }
  .searching-studio__inner {
    position: static;
  }
  .searching-studio__map-wrapper {
    position: static;
    height: 500px;
  }
  .importance-tips__inner {
    grid-template-columns: 350px;
    grid-gap: 30px;
  }
  .importance-tips__item:nth-of-type(2) {
    grid-row: 2/3;
  }
  .importance-tips__item:after {
    top: calc(100% + 15px);
  }
  .headshots-services {
    padding: 20px;
  }
  .headshots-sessions {
    height: 300px;
  }
  .headshots-sessions__inner {
    padding-top: 65px;
  }
  .headshots-sessions__title {
    font-size: 30px;
  }
  .footer__contacts-inner {
    line-height: 35px;
    font-size: 20px;
    margin-top: -5px;
  }
  .footer__contacts:after {
    width: 230px;
  }
  .footer__item--right-column {
    bottom: 70px;
  }
  .copyrights {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  .copyrights__policy {
    position: static;
  }
}
@media (max-width: 479px) {
  .headshots {
    height: 400px;
    padding-top: 50px;
  }
  .headshots__title {
    font-size: 40px;
  }
  .sessions-info__title {
    font-size: 26px;
  }
  .session-list__item {
    padding-left: 35px;
  }
  .searching-studio__inner {
    padding: 20px 0 25px;
    width: auto;
  }
  .searching-studio__title {
    font-size: 35px;
  }
  .main__headshots-importance {
    padding: 75px 0;
  }
  .importance-explaining__title {
    font-size: 40px;
  }
  .importance-tips__title {
    font-size: 40px;
  }
  .importance-tips__title-num {
    font-size: 50px;
  }
  .importance-tips__inner {
    grid-template-columns: 295px;
  }
  .importance-tips__text {
    font-size: 14px;
  }
  .headshots-importance__services {
    margin: 80px -25px 0 -25px;
    width: calc(100% + 50px);
  }
  .main__clients {
    padding: 75px 0;
  }
  .clients__title {
    font-size: 35px;
  }
  .clients__subtitle {
    font-size: 16px;
    margin-top: -10px;
  }
  .review__text {
    font-size: 14px;
    line-height: 28px;
  }
  .headshots-sessions__inner {
    padding-top: 50px;
  }
  .headshots-sessions__title {
    font-size: 27px;
  }
  .blog {
    padding: 60px 15px;
  }
  .footer__item--left-column {
    flex-direction: column;
  }
  .footer__item--center-column {
    grid-template-columns: 270px;
  }
  .footer__item--right-column {
    margin-top: 25px;
    position: static;
    align-self: center;
  }
  .footer__list--right-column {
    align-items: center;
  }
  .footer__studio-address {
    align-self: center;
    margin-top: 30px;
  }
  .footer__address-text {
    margin-top: -15px;
  }
  .footer__links {
    text-align: center;
  }
  .footer__resources {
    grid-row: 2/3;
  }
  .footer__title {
    text-align: center;
  }
  .dropdown-list {
    opacity: 0.1;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s, height 0.5s linear;
  }
  .dropdown-list.show {
    opacity: 1;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
